/* table
{
border-collapse: collapse;
border-spacing: 0px;
}
table, th, td
{
padding: 5px;
border: 1px solid black;
} 
*/

.t1 {
    width: 900px;
    table-layout: fixed;                                                                                        
}

.t1 .dt-title {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    vertical-align:top;
    text-align:left;
  }

.t2 {
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed; 
    width: 900px;
}


.t2 th {
    border: none;
    padding:10px 5px;
    font-family:Arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    vertical-align:top;
  }

.t2 td {
    font-family:Arial, sans-serif;
    font-size:13px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    border-color:black;
}

.t2 .cat {
    font-weight:bold;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}


.t3 {
    width: 900px;
    table-layout: fixed;                                                                                        
}

.t3 .summary {
    font-family:Arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    vertical-align:top;
    text-align:left;
}