
.t1 {
    width: 900px;
    table-layout: fixed;                                                                                        
}

.t1 .dt-title {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    vertical-align:top;
    text-align:left;
  }

.t2v1 {
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed; 
    width: 900px;
}

.t2v1 th {
  padding: 8px 4px;
  font-family:Arial, sans-serif;
  font-size:13px;
  font-weight:bold;
  vertical-align:top;
}

.t2 {
    border: 2px solid black;
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed; 
    width: 900px;
}

.t2 td {
    font-family:Arial, sans-serif;
    font-size:13px;
    padding:10px 5px;
    overflow:hidden;
}

.t2 .cat {
    font-weight:bold;
    border:2px solid black;
    text-align:center;
    vertical-align:top
}

.t2 .cat2 {
  font-weight:bold;
  text-align:center;
  vertical-align:top;
  border-right: 2px solid black;
}

.t3 {
    width: 900px;
    table-layout: fixed;                                                                                        
}

.t3 .summary {
    font-family:Arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    vertical-align:top;
    text-align:left;
}

.t4 {
  border: 2px solid black;
  border-collapse:collapse;
  border-spacing:0;
  table-layout: fixed; 
  width: 525px;
  
}

.t4 th {
  border-bottom: 2px solid black;
  padding: 8px 4px;
  font-family:Arial, sans-serif;
  font-size:13px;
  font-weight:bold;
  vertical-align:top;
  text-align:center;
}

.t4 td {
  font-family:Arial, sans-serif;
  font-size:13px;
  padding:10px 5px;
  overflow:hidden;
  word-break:normal;
  text-align:left;
  vertical-align:top;
}

.t4 .td-main {
  font-weight:bold;
  text-align:center;
  vertical-align:top;
}
